*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 18px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#__next {
  height: 100%;
}

.logo {
  float: left;
  width: 328px;
  height: 100%;
  align-items: center;
  color: rgb(247, 252, 251);
  position: relative;
  font-size: 48px;
  vertical-align: middle;
  padding-top:48px;
}

.header {
  text-align: center;
  z-index: 1;
  color: #fff;

}
.header:after {
  filter: blur(1px);    
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(/background_head.png) no-repeat;
  z-index: -1;
  height: 620px;
  background-size: cover;
}

.content {
  padding-left: 48px;
  font-size: 24px;
  color: #000;
  margin-top: 622px;
}

.menu {
  margin-top: 48px;
  height: 72px;
  opacity: 0.2;
  margin-left: 340px;
}

.report-img {
  width: 20px;
  display: inline-block;
  height: 20px;
  margin-right: 4px; 
}